@import './constants';

.dare-api table,
.dare-markdown-table {
  border-collapse: collapse;
  border-radius: 2px;
  border-spacing: 0;
  margin: 0 0 32px 0;
  width: 100%;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 0 2px rgba(0, 0, 0, 0.12);
}

.dare-api th,
.dare-markdown-th {
  font-weight: 400;
  max-width: 100px;
  padding: 13px 16px;
  text-align: left;
}

.dare-api td,
.dare-markdown-td {
  font-weight: 400;
  padding: 8px 16px;

  @media (max-width: $extra-small-breakpoint-width) {
    &.dare-api-properties-name-cell,
    &.dare-api-method-parameter-cell,
    &.dare-api-method-returns-type-cell,
    &.dare-api-method-description-cell {
      min-width: 80px;
      word-break: break-word;
    }
  }
}


@media (max-width: $small-breakpoint-width) {
  .dare-api table,
  .dare-markdown-table {
    margin: 0 0 32px 0;
  }

  .dare-api th,
  .dare-markdown-th {
    padding: 6px 16px;
  }

  .dare-api td,
  .dare-markdown-td {
    padding: 4px 8px;
  }
}
